body{
	/*background: #f5f5f5;*/
	background: url(../img/bg_bright.png);
	padding-top: 65px;
	min-width: 700px;
	background-size: cover;
}
code{
	white-space: pre;
}
code ol{
	height: 463px;
	overflow: auto;
}
.container{
	width: 970px !important;
}
.col-xs-6{
	overflow: hidden;
}
.row.mt{
	padding-top: 20px;
}
#header{
	position: fixed !important;
	z-index: 1000;
	top: 0;
	width: 100% !important;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
	background: #273544;
	 -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
}
td{
	text-overflow:ellipsis;
	padding-left: 10px
}
.popover-content{
	width: 200px;
	height: auto;
}
#logo img{
	height: 37px;
	padding-top: 3px;
}
a#logo {
	color: #fff;
	font-size: 16px;
	line-height: 45px;
	padding-left: 10px;
}
a#logo:hover{
	color: #eee;
	text-decoration: none;
}
#logo span{
	/*color: #fff;*/
	font-size: 20px;
	position: relative;
	top: 3px;
	left: -10px;
}
@font-face {
	font-family: HelveticaNeue;
	src: url("../fonts/HelveticaNeue-UltraLight.otf") format("opentype");
}
#header ul{
	float: right;
	margin-right: 30px;
	margin-top: 12px;
}
#header li{
	list-style: none;
	float: left;
}
#header li a{
	position: relative;
	padding: 6px 15px 5px 15px;
	border: none;
	font-size: 16px;
	color: #eee;
}
#header li.active a,
#header li.active a:hover{
	color: #F3DE5E;
}
#header li a:hover{
	color: #aaa;
	text-decoration: none;
}
#index #header{
	background: rgba(39,53,68,0.6);
}
#exercise{
	padding-bottom: 60px;
}
.exercise{
	background: rgba(255,255,255,0.35);
	border: 1px dashed #273544;
	padding: 10px 20px;
	border-radius: 4px;
	margin-bottom: 20px;
	height: 333px;
	overflow: auto;
}
.exercise p{
	line-height: 25px;
	font-size: 16px;
}
.exercise p strong{
	line-height: 35px;
}
.exercise .label{
	background: rgba(39,53,68,0.6);
	border-radius: 2px;
	border: 1px solid #777;
	margin-right: 3px;
}
#banner{
	  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	height: 550px;
	width: 100%;
	position: absolute;
	height: 100%;
	top: 0px;
	background: url(../img/home-slider-1.jpg);
	background-position: top;
	background-size: cover;
}
#banner h1{
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 70px;
	top: 200px;
	color: #fff;
	font-family: 'HelveticaNeue','Segoe UI', Menlo, Monaco, "Courier New", monospace;
}
#banner .banner-btn{
	position: absolute;
	top: 380px;
	width: 100%;
	text-align: center;
	font-family: Helvetica,'Segoe UI', Menlo, Monaco, "Courier New", monospace;
	color: #ddd;
	line-height: 30px;
}
#banner .banner-btn a{
	font-size: 13px;
	color: #ddd;
	display: inline-block;
	border: 2px 10px;
	background: rgba(0,0,0,0.55);
	border: 1px solid #555;
	line-height: 15px;
	opacity: 0.8;
}
#banner .banner-btn a:hover{
	opacity: 1;
}
.coding-btn-group{
	margin-left: 15px;
}
#coding_body .prettyprint{
	position: absolute;
	top: 1px;
	left: -0.5px;
	overflow: hidden;
	box-shadow: none;
}
#coding_body .prettyprint.linenums ol{
	height: auto;
}
#coding_body .prettyprint.linenums ol>li:first-child{
	padding-top: 5px;
}
#coding_body .prettyprint.linenums ol>li:last-child{
	padding-bottom: 0;
}
#coding_body .prettyprint.linenums ol>li{
	margin-left: 13px;
	line-height: 22px;
	padding-top: 1px;
}
#coding_body .prettyprint.linenums{
	background: none;
}
#coding{
	width: 100%;
	/*background: none;*/
	outline: none;
	line-height: 25px;
	font-size: 15px;
	color: #eee;
	border-radius: 4px;
	height: 463px;
/*	overflow: hidden;*/
	/*font-family: 'Segoe UI', Menlo, Monaco, "Courier New", monospace;*/
}
#coding.placeholder{
	color: #999;
}
#demoList strong{
	line-height: 35px;
}
#demoList button.btn-primary{
	background: #273544 !important;
	border: none;
	outline: none;
}
#demoList .label{
	margin-left: 5px;
	cursor: pointer;
}
.label-pick{
	background: #F3DE5E !important;
	color: #273544 !important;
}
.btn-file input[type="file"] {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	width: 100%;
	margin-top: 0;
	cursor: pointer;
}
.coding-btn-group{
	margin-top: 20px;
}
.monokai .coding-btn-group .btn{
	color: #eee;
	background: #272822;
	border-color:#111;
}
.monokai .coding-btn-group .btn:hover,
.monokai .coding-btn-group .btn:active,
.monokai .coding-btn-group .btn:focus,
.monokai .coding-btn-group .btn.active,
.monokai .btn-group.open .dropdown-toggle{
	color: #fff;
	background: #272822;
	border-color:#111;
}
.monokai .coding-btn-group .btn:focus{
	background: #111;
}
h4{
	color: #273544;
}
h4 a{
	padding-left: 5px;
}
h4 a:hover .label-default{
	background: #273544;
}
h4 a:hover{
	text-decoration: none;
}
h4 span{
	font-size: 12px;
}
h4 .popover{
	font-size: 13px;
}
.row{
	width: 100%;
}
#testCase{
	height: 333px;
	overflow: auto;
	background: rgba(255,255,255,0.35);
	border: 1px dashed #527191;
	padding: 10px;
	border-radius: 4px;
}
#errorMsg{
	border-radius: 4px;
	border: 1px dashed #527191;
	height: 100px;
	width: 100%;
	padding: 5px 10px;
	padding-left: 25px;
	overflow: auto;
	  margin-top: 30px;
	  background: rgba(255,255,255,0.35);
}
#errorMsg span{
	margin-left: -15px;
	color: #273544;
}
/*textarea line*/
.linedwrap {
	border: 1px solid #527191;
	padding: 3px;
	background: #272822;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
}
.linedtextarea {
	padding: 0px;
	margin: 0px;
}
.linedtextarea textarea, .linedwrap .codelines .lineno {
	/*font-size: 10pt;*/
	/*font-family: monospace;*/
	/* line-height: normal !important; */
	font-family: 'Segoe UI', Menlo, Monaco, "Courier New", monospace;
	font-size: 13px;
	line-height: 25px;
}
.linedtextarea textarea {
	padding-right:0.3em;
	padding-top:0.3em;
	border: 0;
}
.linedwrap .lines {
	margin-top: 0px;
	width: 50px;
	float: left;
	overflow: hidden;
	border-right: 1px solid #999;
	margin-right: 10px;
}
.linedwrap .codelines {
	padding-top: 5px;
}
.linedwrap .codelines .lineno {
	color:#AAAAAA;
	padding-right: 0;
	padding-left: 4px;
	padding-top: 0.0em;
	text-align: center;
	white-space: nowrap;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace !important;
}
.linedwrap .codelines .lineselect {
	color: red;
}
/*theme*/
.cobalt .linedwrap{
	background: #002240;
}
.cobalt #coding{
	color: #839496;
}
.cobalt .linedwrap .codelines .lineno{
	color: #839496;
}
.cobalt .coding-btn-group .btn{
	color: #eee;
	background: #002240;
	border-color:#002240;
}
.cobalt .coding-btn-group .btn:hover,
.cobalt .coding-btn-group .btn:active,
.cobalt .coding-btn-group .btn:focus,
.cobalt .coding-btn-group .btn.active,
.cobalt .btn-group.open .dropdown-toggle{
	background: #002240;
	border-color:#002240;
	color: #fff;
}
.cobalt .coding-btn-group .btn:focus{
	background: #002240;
}
/*solarized_light theme*/
.solarized_light .linedwrap{
	background: rgba(255,255,255,0.35);
	border: 1px dashed #527191;
}
.solarized_light #coding{
	color: #93A1A1;
}
.solarized_light .linedwrap .codelines .lineno{
	color: #93A1A1;
}
/*demo code default monokai*/
.monokai .com { color: #75715E; }
.monokai .lit { color: #AE81FF; }
.monokai .pun, .opn, .clo { color: #ddd; margin: 0 1px;}
.monokai .fun { color: #A6E22E; }
.monokai .str, .atv { color: #E6DB74; }
.monokai .kwd, .linenums .tag { color: #F92672; }
.monokai .typ, .atn, .dec, .var { color: #66D9EF; font-style: italic; margin: 0 2px;}
.monokai .pln { color: #A6E22E; }
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}
ol.linenums {
  margin: 0 0 0 33px;
} 
ol.linenums li {
  padding-left: 12px;
  color:#bbb;
  line-height: 18px;
}
p.simplequestion.numcode{
    margin-bottom: 10px;
}
code.prettyprint{
    padding: 0;
}
.monokai .prettyprint.linenums ol.linenums{
   background-color: #272822;
}
.prettyprint.linenums ol.linenums{
    line-height: 30px;
    font-size: 13px;
    padding: 0;
    list-style: decimal-leading-zero;
    padding-left: 40px;
    margin-left: 0;
    border-radius: 4px;
    position: relative;
}
p.simplequestion.numcode::selection{
    background: #49483E;
  }
.prettyprint.linenums ol>li {
    padding-left: 20px;
    line-height: 25px;
    border-left: 1px solid #999;
    margin-left: 20px;
}
.prettyprint.linenums ol>li span{
   font-size: 16px;
  font-family:'Segoe UI', Menlo, Monaco, "Courier New", monospace;
}   
.prettyprint.linenums ol>li:first-child{
    padding-top: 10px;
}
.prettyprint.linenums ol>li:last-child{
    padding-bottom: 10px;
}
/*theme cobalt*/
.cobalt .com { color: #0088FF; }
.cobalt .lit { color: #AE81FF; }
.cobalt .pun, .opn, .clo { color: #E1EFFF; margin: 0 1px;}
.cobalt .fun { color: #FFEE80; }
.cobalt .str, .atv { color: #3AD900; }
.cobalt .kwd, .linenums .tag { color: #FF9D00; }
.cobalt .typ, .atn, .dec, .var { color: #FFDD00; background:#0d3a58; font-style: italic; margin: 0 2px;}
.cobalt .pln { color: #FFEE80; }
.cobalt .prettyprint.linenums ol.linenums{
    background-color: #193549;
}

/*solarized_light theme*/
.solarized_light .com { color: #93A1A1; }
.solarized_light .lit { color: #AE81FF; }
.solarized_light .pun, .opn, .clo { color: #268BD2; margin: 0 1px;}
.solarized_light .fun { color: #268BD2; }
.solarized_light .str, .atv { color: #2AA198; }
.solarized_light .kwd, .linenums .tag { color: #BD3800; }
.solarized_light .atn, .dec, .var { color: #268BD2; font-style: italic; margin: 0 2px;}
.solarized_light .typ{color:#586E75;}
.solarized_light .pln { color: #A6E22E; }
.solarized_light .prettyprint.linenums ol.linenums{
    background: rgba(255,255,255,0.35);
	border: 1px dashed #527191;
}
.solarized_light .prettyprint.linenums ol>li {
    border-left: 1px solid #ddd;
}